@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  /* display: flex; */
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  /* margin: 0px; */
  /* border: 3px solid rgba(0,0,0,.2); */
}

.footer {
  align-items: flex-end;
  background: #eeeeee;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 8px 12px;
}

a {
  color: #666;
  text-decoration: none;
}